// Fonts 
$font-main: 'Montserrat', sans-serif;
$font-accent: 'Amatic SC', sans-serif;



// colors
$body-fon: rgba(56, 56, 56, 1);
$white: rgba(255, 255, 255, 1);
$accent: rgba(255, 153, 0, 1);
$fon-card-color: rgba(25, 25, 25, 1);
$footer-bg:rgba(28, 28, 28, 1);
$fon-button: rgba(255, 168, 0, 0.41);
